<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<link href="~/Content/css/AdminDashboard.css" rel="stylesheet" />
<br />
<br />
<br />
<br />

<br />

<h1 style="margin-left:394px;color:whitesmoke">Admin Dashboard</h1>
<br />
<br />
 
<br />
<body>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

        <a class="Admin-Card-Cover" href="@Url.Action("AddRemoveMovie","Home")">
            <img src="https://previews.123rf.com/images/elyomys/elyomys1311/elyomys131100394/23748960-add-and-remove-icons-red-and-green.jpg" class="thumbnail img-responsive" style="width: 300px; height:250px">
        </a>
    </div>


    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="Admin-Card-Cover" href="@Url.Action("ManagePrices","Home")">

            <img src="https://banner2.cleanpng.com/20180625/yeb/kisspng-united-states-dollar-dollar-sign-computer-icons-mo-5b30a4f6034278.5886340815299146140134.jpg" class="thumbnail img-responsive" style="width: 300px; height:250px">

        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="Admin-Card-Cover" href="@Url.Action("ManageHalls","Home")">
            <img src="https://images.unsplash.com/photo-1574267432553-4b4628081c31?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=80" class="thumbnail img-responsive" style="width: 300px; height:250px">

        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="Admin-Card-Cover" href="@Url.Action("changeHall","Home")">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR19FtgOVrfxrzimdobm8KHpsUjXwqwjZOMzQ&usqp=CAU" class="thumbnail img-responsive" style="width: 300px; height:250px">
        </a>
    </div>

</body>